.skin_colour {
    width: 25px;
    height: 25px;
    display:inline-block;
    border-radius: 100%;
    border: solid black 1px;
}

.bg_colour {
    width: 25px;
    height: 25px;
    display:inline-block;
    border-radius: 100%;
    border: solid black 1px;
}

.colour_option {
    width: 25px;
    height: 25px;
    display:inline-block;
    border-radius: 100%;
    border: solid black 1px;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    background-color: #fafafa;
}

button {
    font-size: 12px;
}

.main-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 800px;
    height: 90vh;
}

@media only screen and (max-width: 500px) {
    .main-container {
        flex-direction: column;
    }
}

.flex-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.avatar-container {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #e7e7e7;
    padding: 20px 20px;
}

.options-container {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #f1f1f1;
    flex-grow: 1;
    padding: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1 {
    font-size: 16px;
    margin: 10px 0px;
    display: inline;
    padding-left: 10px;
}

.options-section-title {
    display: flex;
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin: 5px 0px;
}

.options-section-options {
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
}

.options-section-subtitle {
    display: block;
    margin-bottom: 5px;
}

.show-hide-options {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 100%;
}

.toggle-options-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.show-options-icon {
    background-image: url(icons/down.png);
    background-size: 15px;
}

.hide-options-icon {
    background-image: url(icons/up.png);
    background-size: 15px;
}

.hidden-options {
    display: none;
}

.visible-options {
    display: block;
}

.option-button {
    background-color: rgb(214, 214, 214);
    border-radius: 5%;
    padding: 4px;
    margin: 3px;
    margin-bottom: 7px;
    display: inline-block;
}

.option-button:hover {
    background-color: rgb(182, 182, 182);
}
