body {
    margin: 2em;
}

img {
    transition: opacity 1s ease-out;
}

img:hover {
    opacity: 90%;
}

.about-me {
    padding: 0 2rem;
    font-size: 0.7rem;
    width: 100%;
    box-sizing: border-box;
}

.square-preview {
    width:200px;
    height:200px;
    object-fit: cover;
}

.poster-preview {
    width:200px;
    height:400px;
    object-fit:cover;
}

.ui-preview {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.square-preview, .poster-preview, .ui-preview {
    margin: 0 1rem;
}

nav {
    text-transform: uppercase;
    padding: 0.75em 0;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

body {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.section-title {
    padding-left: 1rem;
    margin: 1em 0;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 85%;
    text-decoration: underline solid black 3px;
    text-underline-offset: 2px;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

h1, h2 {
    margin: 0.2em 0;
}

.section-container {
    display: flex;
    justify-content: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    max-width: 800px;
    flex-grow: 1;
    font-size: 0.9rem;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.main-flex {
    width: 100%;
    max-width: 800px;
}

.design-title {
    font-size: 0.85rem;
    text-align: center;
    color: rgb(32, 32, 32);
    width: 100%;
    padding: 1rem 0;
}
